@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #d54000;
}

/* TODO: don't use the CDN, import me */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: Inter, sans-serif;
}

h2 {
  @apply font-bold text-4xl;
}

h3 {
  @apply font-bold text-2xl;
}

h4 {
  @apply text-base font-bold flex items-center text-block-p mb-1.5;
}

p {
  @apply text-base font-normal text-block-p;
}

code {
  font-family: "Roboto Mono", monospace;
  @apply text-base text-white leading-5;
}
